<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <span>itemflow</span>
  </a>
  <button class="layout-topbar-button-bars" (click)="sideBarMenuEvent()">
    <i class="pi pi-bars" ></i>
  </button>
  <div class="layout-topbar-menu">
    <button class="layout-topbar-menu-button">
      <i class="pi pi-calendar"></i>
    </button>
    <button class="layout-topbar-menu-button">
      <i class="pi pi-fw pi-user"></i>
    </button>
  </div>
</div>
<div class="menu-principal">
  <app-tab-menu></app-tab-menu>
</div>

