
:host ::ng-deep .p-inputgroup {
  width: auto;

}
.p-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 1rem;

   ::ng-deep .p-button {
    background-color: lightpink;
    border-color: lightpink;
  }

}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  display: flex;
  justify-content: space-between;
}
.buttons-table {

  ::ng-deep  .p-button.p-button-secondary{
    background: none;
    color:palevioletred;
    border: none;
  }
}