<div class="form-layout">
  <div class="card flex justify-content-center item-layout">
    <div class="layout-form-item">
      <label>Nome</label>
      <input type="text" pInputText/>
  </div>
    <div class="layout-form-item">
      <label>Preço de compra</label>
      <input type="text" pInputText/>
  </div>
    <div class="layout-form-item">
      <label>Preço de venda</label>
      <input type="text" pInputText/>
  </div>
    <div class="layout-form-item">
      <label>Quantidade de entrada</label>
      <input type="text" pInputText/>
    </div>
    <div class="layout-form-item">
      <label>Fornecedor</label>
      <input type="text" pInputText/>
    </div>
</div>
</div>
