.form-layout{
  margin-right: -1rem;
  margin-left: -1rem;
  margin-top: -1rem;
}
.layout-form-item{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 1rem;
}
.label-layout{
  padding-bottom: 10px;
}
.input-layout {
  min-height: 35px;
}
.button-style-padding {
  padding-top: 20px;

   ::ng-deep .p-button {
    background:  none;
    border: none;
    color: blue;
  }
  ::ng-deep .p-button.p-button-danger {
    color: red;
  }

}
