<div class="form-layout">
  <div class="card flex justify-content-center item-layout">
    <div class="layout-form-item">
      <label class="label-layout">Nome</label>
      <input class="input-layout" type="text" pInputText [ngModel]="produto.nome"/>
    </div>
   <div class="layout-form-item">
     <label  class="label-layout">Quantidade de entrada</label>
     <input class="input-layout" type="text" pInputText [(ngModel)]="produto.quantidadeEntrada"/>
   </div>
    <div class="layout-form-item">
      <label class="label-layout">Preço de compra</label>
      <input class="input-layout" type="text" pInputText [(ngModel)]="produto.precoCompraUnitario"/>
    </div>
    <div class="layout-form-item">
      <label class="label-layout">Preço de venda</label>
      <input class="input-layout" type="text" pInputText [(ngModel)]="produto.precoVendaUnitario"/>
    </div>
    <div class="layout-form-item">
      <label class="label-layout">Fornecedor</label>
      <p-dropdown [options]="fornecedor" [(ngModel)]="fornecedor" optionLabel="nome" [showClear]="true"></p-dropdown>
    </div>
  </div>
  <div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Salvar" styleClass="p-button-text" (click)="save()"></p-button>
    <p-button label="Cancelar" styleClass="p-button-danger p-button-text" (onClick)="back()"></p-button>
  </div>
</div>
