.form-layout{
  margin-right: -1rem;
  margin-left: -1rem;
  margin-top: -1rem;
}
.item-layout {
  flex: 0 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.layout-form-item{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-bottom: 2rem;
  width: 50%;
}
.label-layout{
  padding-bottom: 10px;
}
.input-layout {
  min-height: 35px;
}